*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-form{
<<<<<<< HEAD
    box-shadow: 0 0 5px 1px rgb(134, 131, 131);
    margin-top: 18rem;
    margin-bottom: 2rem;
=======
    /* border: 1px solid black; */
    box-shadow: 0 0 5px 1px rgb(134, 131, 131);
}
.donate{
    text-align: center;
    align-items: center;
    justify-content: center;
>>>>>>> 61748671685dea1961ea8649a59e6ff0543dfd39
}
#myBtn{
    padding: 5px 10px;
    width: 70%;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 1.1rem;
<<<<<<< HEAD
    background-color: #FF5C58;
    color: white;
=======
}
.row1{
    padding-top: 1.5rem;
>>>>>>> 61748671685dea1961ea8649a59e6ff0543dfd39
}